<main class="page-content">
  <!-- RD Parallax-->
  <section class="rd-parallax">
    <div data-speed="0.2" data-type="media" data-url="<%= image_path 'breadcrumbs-01.jpg' %>" class="rd-parallax-layer"></div>
    <div data-speed="0" data-type="html" class="rd-parallax-layer">
      <div class="breadcrumb-wrapper">
        <div class="shell context-dark section-40 section-lg-top-158">
          <h1>Children's Exhibit</h1>
          <ol class="breadcrumb">
            <li><a href="<%= root_url %>">Home</a></li>
            <li>Chidren's Exhibit</li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <section class="section-80 section-md-110 bg-gray-light">
    <div class="shell shell-wide">
      <h2>Children's Exhibit</h2>
      <hr class="divider divider-60 divider-primary offset-top-32">
      <div class="range text-md-left offset-top-52">
        <div class="cell-xl-4 cell-lg-5 cell-md-6 cell-md-push-1"><img src="<%= image_path 'experiense-01.jpg' %>" width="570" height="389" alt="" class="img-responsive center-block"></div>
        <div class="cell-md-6 cell-lg-6 cell-lg-preffix-1 offset-top-36 offset-md-top-0">
          <div class="inset-xl-right-70">

            <p>The Athen Kaloidis Memorial Foundation is proud to announce its sponsorship
              of the Jim Brooks-Athen Kaloidis Children's Exhibit at the Harness Racing
              Hall of Fame and Museum located in Goshen, New York.  This exhibit will
              feature children's toys relating to harness racing.  It will also serve to
              memorialize the bond between two great friends, Jim Brooks and Athen
              Kaloidis.  The two men partnered in the harness racing business for almost
              20 years racing at tracks throughout the northeast.  Both men owned and
              trained horses together at Athen's track in Middlebury, Connecticut.</p>
            <h6 class="offset-md-top-42 offset-top-22">The Exhibit</h6>
            <p class="offset-top-12">No date has been set for the opening yet, but fundraising efforts are under
              way.  To contribute, please contact Ioannis A. Kaloidis at 203.518.1989 or
              via email at akmemorial@sbcglobal.net</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>