<main class="page-content">
  <section class="section-80 section-md-110">
    <div class="shell">

      <h2>Shopping Cart</h2>
      <hr class="divider divider-primary divider-60 divider-offset">

      <p id="notice"><%= notice %></p>

      <div class="offset-top-42 offset-lg-top-100">

        <% if signed_in? %>

          <%= render 'shopping_carts/cart' %>

          <div class="offset-top-32 offset-md-top-60">
            <a href="<%= new_charge_path %>" class="btn btn-primary btn-sm">Checkout</a></div>
          </div>

        <% else %>

          <div class="alert alert-success">
            You need to <%= link_to('Login', new_user_session_path) %> First.
          </div>

        <% end %>

      </div>
    </div>
  </section>
</main>

<br>
