//
// Custom Buttons Styles
// --------------------------------------------------

// Base styles
// --------------------------------------------------

.btn {
  transition: .3s ease-out;
  text-transform: uppercase;
  font-family: $font-family-sec;
  font-size: 18px;
  letter-spacing: 0.06em;
  border-radius: 0;
  padding: 16px 40px;

  &:focus,
  &:active,
  &:active:focus{
    outline: none;
  }

  &:active,
  &.active {
    @include box-shadow(none);
  }
}


html .page .btn {
  &:focus,
  &:hover,
  &:active{
    text-decoration: none;
    outline: none;
  }
}


// Alternate buttons
// --------------------------------------------------

.btn-default {
  @include button-variant-custom($gray-darker, transparent, $gray, $white, $gray-darker, $gray-darker);
}

.btn-dark {
  @include button-variant-custom($white, $gray-dark, $gray-dark, $gray-dark, transparent, $gray-dark);
}

.btn-primary {
  @include button-variant-custom($white, $brand-primary, $brand-primary, $white, darken($brand-primary, 8%), darken($brand-primary, 8%));
}

.btn-white {
  @include button-variant-custom($white, transparent, $white, $gray-dark, $white, $white);
}

.btn-primary-dr {
  @include button-variant-custom($white, $brand-primary-dr, $brand-primary-dr, $white, darken($brand-primary-dr, 8%), darken($brand-primary-dr, 8%));
}

.btn-info-dr {
  @include button-variant-custom($white, $brand-info-dr, $brand-info-dr, $white, darken($brand-info-dr, 8%), darken($brand-info-dr, 8%));
}

.btn-shadow{
  box-shadow: 0 2px 10px 0 rgba($brand-primary, .7);

  &:hover{
    box-shadow: none;
  }
}


// Button Sizes
// --------------------------------------------------

.btn-xs {
  font-size: 14px;
  padding: 9px 35px;
}

.btn-sm {
  font-size: 16px;
  padding: 12px 38px;
}

.btn-lg {
  padding: 20px 48px;
  font-size: 20px;
}

.btn-tag{
  padding: 2px 8px 3px;
  font-style: italic;
  border: 1px solid;
}


// Button Shapes
// --------------------------------------------------

.btn-circle{
  border-radius: 50px;
}

.btn-rounded{
  border-radius: 3px;
}

.btn-rounded-lg{
  border-radius: 6px;
}

// Button Icon styles
// --------------------------------------------------

.btn{
  &.btn-icon {
    display: inline-flex;
    align-items: center;

    padding-left: 35px;
    padding-right: 35px;

    .btn-text{
      vertical-align: middle;
    }

    .icon {
      font-size: 24px;
      line-height: 24px;
      vertical-align: middle;
      transition: 0s;

      &.fa-twitter{
        font-size: 22px;
      }
    }

    [class*='fa-']{
      font-size: 20px;
    }

    &-left{
      .icon{
        float: left;
        padding-right: 10px;
      }
    }

    &-right{
      .icon{
        float: right;
        padding-left: 12px;
      }
    }
  }
}