/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

/*
 *= require font-awesome
 */

.rd-navbar-panel {
  padding-top: 20px;
  padding-bottom: 15px;
}

img.pswp__img {
    height: auto !important;
}

.thumbnail-variant-1 > img {
    max-height: 200px !important;
}
#error_explanation > p {
    color: white;
}

#admin-table > tr td{
    padding: 0 !important;
    margin: 0 !important;
}

.alert-danger {
    color:white;
}

.thumbnail-variant-2 .caption-wrapper {
    background: none;
}

img.swipe_icon {
    height:13px;
    width: auto;
}

.swipe {
    color: #7aaf24;
    opacity: 0.8;
    font-size: .6em;
}


