<main class="page-content">
  <section class="section-80 section-md-110">
    <div class="shell">

      <h2>Shopping Cart</h2>
      <hr class="divider divider-primary divider-60 divider-offset">

      <p id="notice"><%= notice %></p>

      <div class="offset-top-42 offset-lg-top-100">

          <div class="alert alert-success">
            Thank You for your Donation of $<%= @amount_dollars.to_s %> to the Athan Kaloidis Memorial Golf Tournament.

            You can view your donations <%= link_to 'in your Profile', user_path(current_user) %>
          </div>

      </div>
    </div>
  </section>
</main>

<br>


