<% unless ENV['environment'].nil? %>
  <% environment = ENV['environment'] %>
  <% if environment.casecmp('development') %>
    <div class="alert alert-warning text-center">Development Server</div>
  <% elsif Rails.env.casecmp('staging') %>
    <div class="alert alert-warning text-center">Staging Server</div>
  <% end %>
<% end %>


<% if notice %>
  <p class="alert alert-success text-center"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger text-center"><%= alert %></p>
<% end %>

<script>
    $(".alert button.close").click(function (e) {
        $(this).parent().fadeOut('slow');
    });
</script>

<% if user_signed_in? %>
  <% if !current_user.admin? %>
    <% unless current_user.purchased_golf_package? %>
      <% if current_user.cart_contains_golf_package? %>
        <div class="alert alert-warning text-center">
          <!--<button type="button" class="close" aria-hidden="true">&times;</button>-->
          Please Purchase Tournament Player Package.<br>
          <% if !current_page?(new_charge_path) %>
            <%= link_to 'Checkout.',
                        new_charge_path %>
          <% end %>
        </div>
      <% else %>
        <div class="alert alert-warning text-center">
          <!--<button type="button" class="close" aria-hidden="true">&times;</button>-->
          To play in the tournament - please purchase the Tournament Player Package.
          <%= link_to 'Add Golfer Package to Cart ($150).',
                      add_product_to_user_cart_path(Product.golf_package.id, current_user.id) %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
